.bg {
  background-image: linear-gradient(to bottom, #dcd62c, #e213b1, #191d61);
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.heading {
  color: White;
}

.login-register-container {
  background-color: white;
  padding:20px 0px 20px 0px;
  width: 100%;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid red;
}
.x {
  height: 90vh;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo {
  width: 80px;
}
.logo-container {
  display: flex;
  justify-content: center;
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-direction: column;
}

.register-button {
  align-self: flex-start;
}
.InputField {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
label {
  margin-bottom: 5px;
}

@media (min-width: 768px) {
  .x {
    width: 60%;
  }
}
@media (min-width: 1200px) {
  .x {
    width: 40%;
  }
}

button {
  background-color: #1e5176;
  color: white;
  border-radius: 10px;
  border: none;
  padding: 8px;
  cursor: pointer;
  /* outline: ; */
}
button:hover {
  background-color: black;
}


.error_para{
  /* border:solid red; */
  color :red;
  margin-bottom: 0px;
  margin-top: 13px;
}